$light-mobile-try-button: #0175BF;
$dark-mobile-try-button: #7997D3;

@media screen and (max-width: 600px) {
  .homepage {
    display: flex;
    flex-flow: column;
    align-items: center;
    h1 {
      font-size: 2.5rem;
      font-weight: 800;
      margin: 5rem auto 0;
      text-align: center;
    }
    .description {
      font-size: 1.5rem;
      font-weight: 700;
      margin: 1.5em auto 0;
      max-width: 80%;
      text-align: center;
    }
    .description:nth-of-type(2) {
      display: none;
    }
    #buttons {
      margin: 1.5em auto 0;
      font-size: 1.25rem;
      width: 80%;
      display: flex;
      flex-flow: column;
      align-items: center;
      .primary-button {
        width: 100%;
        font-size: 1.25rem;
        font-weight: 800;
        padding: .5em;
      }
      .secondary-button {
        width: 100%;
        font-size: 1.25rem;
        font-weight: 800;
        padding: .5em;
        margin: 1.5em auto 0;
      }
    }
    #buttons::after {
      content: "I'm currently open to new opportunities, and would love to meet your company and get to know its goals.";
      font-size: 1.5rem;
      font-weight: 700;
      margin: 1.5em auto 0;
      max-width: 90%;
      text-align: center;
    }
  }

  .light-project {
    background: none;
    .project-buttons {
      .try-button {
        background: $light-mobile-try-button;
        color: #fff;
      }
    }
  }
  .dark-project {
    background: none;
    .project-buttons {
      .try-button {
        background: $dark-mobile-try-button;
        color: #fff;
      }
    }
  }
  .project-card:nth-of-type(2) {
    p:nth-of-type(2) {
      display: none;
    }
    p:nth-of-type(3) {
      display: none;
    }
  }
  .project-card:nth-of-type(2)::before {
      content: "UK Food Web";
      font-size: 2rem;
      font-weight: 700;
      text-align: center;
      margin: 0 auto;
    }

  .project-card:nth-of-type(3)::before {
      content: "Rateable Valuations";
      font-size: 2rem;
      font-weight: 700;
      text-align: center;
      margin: 0 auto;
    }

  .project-card:nth-of-type(4)::before {
      content: "Byte-sized projects";
      font-size: 2rem;
      font-weight: 700;
      text-align: center;
      margin: 0 auto;
    }

  .project-card {
    width: 100%;
    margin: 5em auto 0;
    display: flex;
    flex-flow: column;
    align-items: center;
    background: none;
    img {
      width: 80%;
      margin: 1em auto 0;
    }
    h2 {
      display: none;
    }
    p {
      font-size: 1.25rem;
      font-weight: 500;
      margin: 1em auto 0;
      max-width: 80%;
      text-align: center;
      a {
        font-weight: 700;
        text-decoration: none;
      }
      a:hover {
        text-decoration: underline;
      }
    }
    .project-buttons {
      width: 80%;
      margin: 1em auto 0;
      display: flex;
      flex-flow: column;
      a {
        text-decoration: none;
      }
      .try-button, .git-button, .design-button {
        width: 100%;
        font-size: 1.25rem;
        font-weight: 800;
        margin: 1em auto 0;
        display: flex;
        flex-flow: row;
        align-items: center;
        img {
          display: none;
        }
        span {
          margin: auto;
          padding: .3em .6em;
          font-size: 1.25rem;
        }
      }
      .git-button img, .design-button img{
        width: 1.8em;
        height: 1.8em;
      }
    }
  }

  #thanks {
    font-size: 2.125rem;
    font-weight: 700;
    margin: 1.5em auto;
    text-align: center;
    max-width: 80%;
  }

}
