#by-app-div {
	display: flex;
	flex-flow: column;
	background: #262626;
	width: 100vw;
	height: 100vh;
}

#by-header {
	display: flex;
	background: #262626;
	width: 100%;
	height: 80px;
}

#by-header nav {
	display: flex;
	flex-flow: row;
	margin: auto 30px auto auto;
}

#by-header nav h2 {
	margin: 0;
}

#by-header nav a {
	text-decoration: none;
	margin: auto 20px;
	color: #fff;
}

.by-navlink {
	font-size: 24px;
	font-weight: 800;
	margin: auto 50px;
}

#by-home-div {
	max-width: 800px;
	margin: 300px auto;
	font-weight: 800;
	color: #fff;
}

#by-home-div h1 {
	font-size: 1.75rem;
	margin: auto auto 30px auto;
	text-align: center;
}

#by-home-div p {
	text-align: center;
}

#by-navleave {
	font-size: 24px;
	margin: auto auto auto 30px;
	font-weight: 800;
	color: #fff;
}
