.overlay {
	background-color: rgba(1, 11, 25, 0.8);
	width: 100vw;
	height: 100vh;
  display: flex;
	position: fixed;
	top: 0;
	z-index: 2;
}

.overlay button {
	user-select: none;
}

#login-modal {
	background-color: #fff;
	width: 600px;
	height: 536px;
  border-radius: 15px;
	margin: auto;
}

#login-modal h2 {
	font-size: 26px;
	font-weight: bold;
	color: #002147;
	margin: 50px 0px 0px 50px;
}

#login-form {
	margin: 30px 50px 0px 50px;
}

.login-tag {
	font-size: 20px;
	font-weight: 600;
	color: #002147;
}

.login-field {
	background-color: rgba(0, 33, 71, 0.1);
	color: #002147;
	padding: 9px 13px;
	font-weight: 500;
	font-size: 20px;
	border: none;
	border-radius: 11px;
	outline: none;
	width: 474px;
	height: 30px;
	margin: 5px 0px 15px 0px;
}

#keep-div {
	display: flex;
  flex-flow: row;
}

#keep-text {
	font-size: 20px;
	font-weight: 500;
	color: #002147;
	margin: auto 0 auto 5px;
}

#keep-box {
	border-color: #002147;
	width: 20px;
	height: 20px;
}

#secondary-login-buttons {
	display: flex;
	width: 500px;
	margin: 0 auto;
}

#login-button {
	background-color: #002147;
	border-radius: 15px;
	text-align: center;
	width: 500px;
	padding: 10px 0;
	margin: 30px auto 0 auto;
	color: #fff;
	font-size: 22px;
	font-weight: bold;
	border: none;
}

#create-button {
	background-color: #fff;
	border-radius: 15px;
	text-align: center;
	width: 240px;
	padding: 10px 0;
	margin: 20px 10px 0 auto;
	box-shadow: inset 0px 0px 0px 3px #F47721;
	color: #F47721;
	font-size: 22px;
	font-weight: bold;
	border: none;
}

#cancel-button {
	background-color: #fff;
	border-radius: 15px;
	text-align: center;
	width: 240px;
	padding: 10px 0;
	margin: 20px auto 0 10px;
	box-shadow: inset 0px 0px 0px 3px #002147;
	color: #002147;
	font-size: 22px;
	font-weight: bold;
	border: none;
}
